.footer__logo-address {
    margin-right: 70px;
}

.footer__logo-web {
    font-family: var(--logo-family);
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--third-color);
}

.footer__logo-studio {
    font-family: var(--logo-family);
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--fourth-color);
}